<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a>@User.Identity.Name</a>
        </li>
    }
    else
    {
        <li>
            <a asp-page="/Account/Login">Log in</a>
        </li>
    }

</ul>