@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h2>База данных "Кристалл"</h2>

    <p>
        В базе данных по химическим и физическим свойствам веществ содержится следующая информация:
    </p>

    <ul>
        <li>плотность и твердость; температура плавления и теплоемкость</li>
        <li>данные о кристаллических модификациях; показатели преломления и скорость распространения волн</li>
        <li>электрооптические, упругооптические, нелинейные оптические и пьезоэлектрические коэффициенты</li>
        <li>многочисленная графическая информация</li>
        <li>и многое другое</li>
    </ul>

    <p>Все хранящиеся данные прошли экспертную оценку лучшими специалистами России.<br/>
        В настоящее время в БД хранятся сведения о свыше сотни веществ.<br/>
        БД обновляется еженедельно.
    </p>

</div>