@page
@using Substances
@model Substances.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>HeadTablLanguage</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HeadTablLanguage.Id"/>

            <div class="form-group">
                <label asp-for="HeadTablLanguage.System" class="control-label"></label>
                <input asp-for="HeadTablLanguage.System" class="form-control"/>
                <span asp-validation-for="HeadTablLanguage.System" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="HeadTablLanguage.HeadTabl.Help" class="control-label"></label>
                <input asp-for="HeadTablLanguage.HeadTabl.Help" class="form-control"/>
                <span asp-validation-for="HeadTablLanguage.HeadTabl.Help" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HeadTablLanguage.Expert" class="control-label"></label>
                <input asp-for="HeadTablLanguage.Expert" class="form-control"/>
                <span asp-validation-for="HeadTablLanguage.Expert" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}