@page
@model Substances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Вещества</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>


<div class="row">

    @foreach (var item in Model.HeadTablLanguage)
    {
        <div class="col-md-3 col-sm-6">
            <a asp-page="./Properties"
               asp-route-systemurl="@item.SystemUrl">
                @Html.Raw(item.System)
            </a>
        </div>
    }
</div>