@page "{systemUrl}"
@using Substances
@model Substances.PropertiesIndex

@{
    ViewData["Title"] = "Properties";
}

<h2>Properties</h2>

<div class="list-group">
    @foreach (var item in Model.PropertiesLanguage)
    {
        <a asp-page="../@item.Properties.TableName/Index"
           asp-route-headclue='@ViewContext.HttpContext.Request.Query["id"]'
           class="list-group-item">
            @Html.Raw(item.Nazvprop)
        </a>
    }
</div>