@page "{systemUrl}"
@using Substances
@model Substances.PropertiesIndex

@{
    ViewData["Title"] = "Properties";
}

<h2>Properties</h2>

<div class="list-group">
    @foreach (var item in Model.PropertiesLanguage)
    {
        <a asp-page="./@item.Properties.TableNameUrl/Index"
           asp-route-systemUrl='@ViewContext.RouteData.Values["systemUrl"]'
           class="list-group-item">
            @Html.Raw(item.Nazvprop)
        </a>
    }
</div>