@page
@using Utils
@model SearchPageModel


@{
    ViewData["Title"] = "Index";
}


<h3>Соединения</h3>

<div class="row">
    <form>
        <div class="form-group">
            <label for="system">Состав</label>
            <input type="text" class="form-control" id="system" placeholder="NaCl">
        </div>
    </form>

</div>