@page
@model Crystal.Pages.Substances.Thermal_Conductivity.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>HeatExpnLanguage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeadClue" class="control-label"></label>
                <select asp-for="HeatExpnLanguage.HeadClue" class ="form-control" asp-items="ViewBag.HeadClue"></select>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.SingCode" class="control-label"></label>
                <select asp-for="HeatExpnLanguage.SingCode" class ="form-control" asp-items="ViewBag.SingCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.Temper1" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.Temper1" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.Temper1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.Temper2" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.Temper2" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.Temper2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.Znak1" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.Znak1" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.Znak1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.S11" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.S11" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.S11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.ErrHexp" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.ErrHexp" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.ErrHexp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.MethodEx" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.MethodEx" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.MethodEx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.Bknumber" class="control-label"></label>
                <select asp-for="HeatExpnLanguage.Bknumber" class ="form-control" asp-items="ViewBag.Bknumber"></select>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.LanguageId" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.LanguageId" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
