@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Composition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SistTabl.Id" />



            <div class="form-group">
                <label asp-for="SistTabl.ElemNumb" class="control-label"></label>
                <input asp-for="SistTabl.ElemNumb" class="form-control" />
                <span asp-validation-for="SistTabl.ElemNumb" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SistTabl.MinValue" class="control-label"></label>
                <input asp-for="SistTabl.MinValue" class="form-control" />
                <span asp-validation-for="SistTabl.MinValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SistTabl.MaxValue" class="control-label"></label>
                <input asp-for="SistTabl.MaxValue" class="form-control" />
                <span asp-validation-for="SistTabl.MaxValue" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}